.fc-image(data-4c-class="touch-screen: touched" data-4c-on="click: showTools, clickOutside: hideTools")
    img(src=src)
    .fc-tools(data-4c-class="collapsed: toolsHidden")
        if context && context.length
            button.fc-btn.fc-btn-corner.fc-btn-top-left(data-4c-on="click: topLeftCorner.show")
                i.fc-icon.fc-icon-context
        if links && links.length
            button.fc-btn.fc-btn-corner.fc-btn-top-right(data-4c-on="click: topRightCorner.show")
                i.fc-icon.fc-icon-links
        if backStory && backStory.text
            button.fc-btn.fc-btn-corner.fc-btn-bottom-left(data-4c-on="click: bottomLeftCorner.show")
                i.fc-icon.fc-icon-info
        if creativeCommons && creativeCommons.formattedCopyright
            button.fc-btn.fc-btn-corner.fc-btn-bottom-right(data-4c-on="click: bottomRightCorner.show")
                i.fc-icon.fc-icon-copyright
    .fc-content
        if context && context.length
            .fc-content-container.fc-content-fill(data-4c-on="swipeLeft: topLeftCorner.selectNext, swipeRight: topLeftCorner.selectPrevious"
            data-4c-class="visible: topLeftCorner.visible, pinned: topLeftCorner.pinned")
                .fc-gallery(data-4c-class="expanded: !topLeftCorner.visible")
                    if context.length > 1
                        a.fc-gallery-controls.fc-gallery-prev(data-4c-on="click: topLeftCorner.selectPrevious, mouseover: topLeftCorner.preselectPrevious, mouseleave: topLeftCorner.clearPreselect" data-4c-class="transparent: getPrevControllerHidden")
                            i.fc-icon.fc-icon-angle-left
                    ul(data-4c-gallery-list)
                        each item in context
                            li(data-4c-on="click: topLeftCorner.selectItem"
                            data-4c-class="hover: topLeftCorner.getItemIsPreselected"
                            data-4c-gallery-item)
                                if item.src
                                    img(src=item.src)
                                if item.youtube_id
                                    iframe(width="100%" height="100%"
                                    src="//www.youtube.com/embed/" + item.youtube_id + "?enablejsapi=1"
                                    data-4c-gallery-yt
                                    style="border:none")
                    if context.length > 1
                        a.fc-gallery-controls.fc-gallery-next(data-4c-on="click: topLeftCorner.selectNext, mouseover: topLeftCorner.preselectNext, mouseleave: topLeftCorner.clearPreselect" data-4c-class="transparent: getNextControllerHidden")
                            i.fc-icon.fc-icon-angle-right
                    each item in context
                        if item.credit
                            .fc-gallery-caption(data-4c-gallery-caption data-4c-class="visible: topLeftCorner.getCaptionVisible")
                                .fc-gallery-caption-text
                                    | #{item.credit}
                        else
                            div(data-4c-gallery-caption data-4c-class="visible: topLeftCorner.getCaptionVisible")
                button.fc-btn.fc-btn-corner.fc-btn-top-right.fc-gallery-close.fc-btn-close(data-4c-on="click: topLeftCorner.forceHide" data-4c-class="visible: topLeftCorner.visible")
                    | &times;
        if links && links.length
            .fc-content-container.fc-content-top-right(data-4c-class="visible: topRightCorner.visible")
                .fc-content-body
                    .text-right
                        button.fc-btn.fc-btn-close(data-4c-on="click: topRightCorner.forceHide" data-4c-class="visible: topRightCorner.visible")
                            | &times;
                    .fc-content-text
                        h1 Links
                        ul.fa-ul
                            each item in links
                                li
                                    i.fa.fa-li(class="fa-" + item.type)
                                    a.fc-image-a(href=item.url) #{item.title}

        if backStory && backStory.text
            .fc-content-container.fc-content-bottom-left(data-4c-class="visible: bottomLeftCorner.visible")
                .fc-content-body
                    .text-right
                        button.fc-btn.fc-btn-close(data-4c-on="click: bottomLeftCorner.forceHide" data-4c-class="visible: bottomLeftCorner.visible")
                            | &times;
                    .fc-content-text
                        h1 Backstory
                        p #{backStory.text}
                        p
                            if backStory.author
                                | #{backStory.author + (backStory.publication || backStory.date ? ', ' : '')}
                            if backStory.publication
                                if backStory.publicationUrl
                                    a.fc-image-a(href=backStory.publicationUrl) #{backStory.publication}
                                else
                                    | #{backStory.publication}
                                | #{backStory.date ? ', ' : ''}
                            if backStory.date
                                | #{backStory.date}
        if creativeCommons && creativeCommons.formattedCopyright
            .fc-content-container.fc-content-bottom-right(data-4c-class="visible: bottomRightCorner.visible")
                .fc-content-body
                    .text-right
                        button.fc-btn.fc-btn-close(data-4c-on="click: bottomRightCorner.forceHide" data-4c-class="visible: bottomRightCorner.visible")
                            | &times;
                    .fc-content-text
                        p.fc-content-copyright
                            | #{creativeCommons.formattedCopyright}
                        if creativeCommons.codeOfEthics
                            p.fc-code-of-ethics
                                | CODE OF ETHICS:  #{creativeCommons.codeOfEthics}
                        p #{creativeCommons.description}
.fc-footer(data-4c-footer)
    i.fc-icon.fc-icon-brand