img(src=src)
.fc-corner-icon(data-4c-class="hover: toolsHidden")
.fc-tools(data-4c-class="collapsed: toolsHidden")
    if context && context.length
        button.fc-btn.fc-btn-top-left.fc-image-typo(data-4c-on="mouseover: topLeftCorner.show")
            i.fa.fa-history.fc-image-i
    if links && links.length
        button.fc-btn.fc-btn-top-right.fc-image-typo(data-4c-on="mouseover: topRightCorner.show")
            i.fa.fa-external-link.fc-image-i
    if backStory && backStory.text
        button.fc-btn.fc-btn-bottom-left.fc-image-typo(data-4c-on="mouseover: bottomLeftCorner.show")
            i.fa.fa-info.fc-image-i
    if creativeCommons && creativeCommons.formattedCopyright
        button.fc-btn.fc-btn-bottom-right.fc-image-typo(data-4c-on="mouseover: bottomRightCorner.show")
            i.fa.fa-copyright.fc-image-i
.fc-content
    if context && context.length
        .fc-content-container.fc-content-fill(data-4c-on="swipeLeft: topLeftCorner.selectNext, swipeRight: topLeftCorner.selectPrevious"
        data-4c-class="visible: topLeftCorner.visible, pinned: topLeftCorner.pinned")
            .fc-content-background
            .fc-gallery(data-4c-class="expanded: !topLeftCorner.visible")
                if context.length > 1
                    .fc-gallery-controls.fc-gallery-prev(data-4c-class="transparent: getPrevControllerHidden")
                        a.fc-image-typo(data-4c-on="click: topLeftCorner.selectPrevious, mouseover: topLeftCorner.preselectPrevious, mouseleave: topLeftCorner.clearPreselect")
                            i.fa.fa-angle-left.fc-image-i
                ul(data-4c-gallery-list)
                    each item in context
                        li(data-4c-on="click: topLeftCorner.selectItem"
                        data-4c-class="hover: topLeftCorner.getItemIsPreselected"
                        data-4c-gallery-item)
                            if item.src
                                img(src=item.src)
                            if item.youtube_id
                                iframe(width="100%" height="100%"
                                src="//www.youtube.com/embed/" + item.youtube_id + "?enablejsapi=1"
                                data-4c-gallery-yt
                                style="border:none")
                if context.length > 1
                    .fc-gallery-controls.fc-gallery-next(data-4c-class="transparent: getNextControllerHidden")
                        a.fc-image-typo(data-4c-on="click: topLeftCorner.selectNext, mouseover: topLeftCorner.preselectNext, mouseleave: topLeftCorner.clearPreselect")
                            i.fa.fa-angle-right.fc-image-i
                each item in context
                    if item.credit
                        .fc-gallery-caption(data-4c-gallery-caption data-4c-class="visible: topLeftCorner.getCaptionVisible")
                            .fc-gallery-caption-background
                            .fc-gallery-caption-text
                                span.fc-image-typo #{item.credit}
                    else
                        div(data-4c-gallery-caption data-4c-class="visible: topLeftCorner.getCaptionVisible")
            button.fc-btn.fc-btn-top-left.fc-gallery-close.fc-image-typo(data-4c-on="click: topLeftCorner.forceHide" data-4c-class="visible: topLeftCorner.visible")
                i.fa.fa-times.fc-image-i
    if links && links.length
        .fc-content-container.fc-content-top-right(data-4c-on="mouseleave: topRightCorner.hide"
        data-4c-class="visible: topRightCorner.visible")
            .fc-content-body
                .fc-content-background
                .fc-content-text
                    button.fc-btn.fc-btn-close.fc-image-typo(data-4c-on="click: topRightCorner.forceHide" data-4c-class="visible: topRightCorner.visible")
                        i.fa.fa-times.fc-image-i
                    h1.fc-image-typo Links
                    ul.fa-ul
                        each item in links
                            li
                                i.fa.fa-li.fc-image-i(class="fa-" + item.type)
                                a.fc-image-a(href=item.url) #{item.title}

    if backStory && backStory.text
        .fc-content-container.fc-content-bottom-left(data-4c-on="mouseleave: bottomLeftCorner.hide"
        data-4c-class="visible: bottomLeftCorner.visible")
            .fc-content-body
                .fc-content-background
                .fc-content-text
                    button.fc-btn.fc-btn-close.fc-image-typo(data-4c-on="click: bottomLeftCorner.forceHide" data-4c-class="visible: bottomLeftCorner.visible")
                        i.fa.fa-times.fc-image-i.fc-image-i
                    h1.fc-image-typo Backstory
                    p.fc-image-typo #{backStory.text}
                    p.fc-image-typo
                        if backStory.author
                            | #{backStory.author + (backStory.magazine || backStory.date ? ', ' : '')}
                        if backStory.magazine
                            if backStory.magazineUrl
                                a.fc-image-a(href=backStory.magazineUrl) #{backStory.magazine}
                            else
                                | #{backStory.magazine}
                            | #{backStory.date ? ', ' : ''}
                        if backStory.date
                            | #{backStory.date}
    if creativeCommons && creativeCommons.formattedCopyright
        .fc-content-container.fc-content-bottom-right(data-4c-on="mouseleave: bottomRightCorner.hide"
        data-4c-class="visible: bottomRightCorner.visible")
            .fc-content-body
                .fc-content-background
                .fc-content-text
                    button.fc-btn.fc-btn-close.fc-image-typo(data-4c-on="click: bottomRightCorner.forceHide" data-4c-class="visible: bottomRightCorner.visible")
                        i.fa.fa-times.fc-image-i
                    p.fc-content-copyright.fc-image-typo
                        if creativeCommons.codeOfEthics
                            a.fc-image-a.fc-code-of-ethics-show(data-4c-on="click: bottomRightCorner.toggleCodeOfEthics")
                                | #{creativeCommons.formattedCopyright}
                        else
                            span.fc-image-typo #{creativeCommons.formattedCopyright}
                    if creativeCommons.codeOfEthics
                        p.fc-image-typo(data-4c-class="visible: bottomRightCorner.codeOfEthicsVisible").fc-code-of-ethics
                            | CODE OF ETHICS:  #{creativeCommons.codeOfEthics}
                    p.fc-image-typo #{creativeCommons.description}